@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$bcg-color: rgb(241, 240, 240);
$tbl-header-color: #809589;
$tbl-bdy-dark:rgb(165, 165, 165);
$tbl-bdy-light:rgb(223, 223, 223);
$txt-color:#fdfdfd;
$test: #3b5772;
$btn-delete:#dc3545;