@{
    ViewData["Title"] = "Home Page";
}


</div>
<div>
    <img id=logo src="/images/logo 1.svg" alt=""> 
   <a class=linkgym href="https://www.gymsnv.sk/">Gymnázium Školská 7
            Spišská Nova Ves</a>
</div>
 <h1 id=vitajte >VITAJTE!</h1>
        <img id=nadpis src="/images/layer1.svg" alt="">
        
    <img id=book src="/images/book.svg" alt="">
  
    <style>
    #logo{
        position: absolute;
        width: 100px;
        left: 0.5%;
        top: 8%;

    }
    .linkgym{
        position: absolute;
        text-decoration: none;
        width: 133px;
        height: 32px;
        left:4%;
      /*font-family: 'Kumbh Sans', sans-serif;*/ 
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        text-decoration: none;

        color: #000000;

    }
    #vitajte{
        postition:absolute;
      /* font-family: 'Kumbh Sans', sans-serif;*/
        font-style: normal;
        text-align:center;
        font-size:51px;
        top:35%;
    }
    #book{


width: 25%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nadpis{


width: 25%;
  position: absolute;
  top: 40%;
  left: 49.5%;
  transform: translate(-50%, -50%);
}
    </style>
 