@{
    ViewData["Title"] = "Privacy Policy";
}
<p id=txt>
     Vďaka projektu „IT Farming Creativy Lab” študenti našej školy dostali šancu na prácu s novými zaujímavými programami, na tvorbu webstránky a prácu v tíme.
Naším cieľom bolo vytvoriť webový portál s databázou učebníc, tvorbou objednávok a celkový systém vydávania a vracania kníh. Týmto web portálom sme chceli uľahčiť každoročnú prácu nielen pre študentov
ale aj pre zamestancov školy, pretože odovzdávanie učebníc môže byť pomerne komplikovné a časovo náročné.
</p>

<h1 id=autori>AUTORI:</h1>
<div>
    <ul id=autor_l>
         <li>Nina Böttcherová</li>
         <li>Sven Fischer</li>
        <li>Andrej Gburík</li>
    </ul>
     <ul id=autor_r>
         <li>Tomáš Hamrák</li>
         <li>Tímea Hoangová</li>
        <li>Dávid Hudy</li>
    </ul>
</div>
<div id=social>
    <a  href="https://www.instagram.com/gymnaziumskolska/"> <img id=ig src=~/images/ig.svg/> </a>
     <a  href="https://www.youtube.com/user/gymsnv"> <img id=yt src=~/images/yt.svg/> </a>
     <a  href="https://www.facebook.com/gymsnv/"> <img id=fb src=~/images/fb.svg/> </a>
</div>
<div id=kontakt>
    <p>
KONTAKT<br /> <br />Školská 7<br />052 01 Spišská Nová Ves<br /> <br />+421 910 631 985
    </p>
</div>
<img id=gym_snv src=~/images/gym_snv.jpg/>
<style>
#txt{
    text-align:center;
   margin: 0;
  position: absolute;
  width:75%;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size:18px;
}

#autor_l {
    list-style:none;
     margin: 0;
  position: absolute;
  top: 45%;
  left: 35%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align:center;
}
#autor_r {
    list-style:none;
     margin: 0;
  position: absolute;
  top: 45%;
  left: 65%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
   text-align:center;
}
#autori{
     margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#ig{
    width:6%;
    margin: 0;
  position: absolute;
  top: 57%;
  left: 15%; 
}
#fb{
    width:6%;
    margin: 0;
  position: absolute;
  top: 70%;
  left: 15%; 
}
#yt{
     width:6%;
    margin: 0;
  position: absolute;
  top: 84%;
  left: 15%; 
}
#gym_snv{
    width:35%;
     margin: 0;
  position: absolute;
  top: 77%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#kontakt{
    position:absolute;
    top:65%;
    left:75%;
}
</style>